.detailSpan {
    margin-left: 10px;
}

.nav-link {
    color: #000000d4 !important;
    font-size: 16px !important;
    font-weight: bold !important;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: orange !important;
    background-color: transparent !important;
    border-bottom: 2.5px solid !important;
    border-radius: 0;
}

.card {
    margin-bottom: 10px;
}

.iconSpan {
    margin: 10px;
}